.show {
    width: 94%;
    margin: auto;
    padding: 2rem 0 0 0;
    color: var(--text-color)
        /* background: green; */
}

.caro-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 2rem; */
}

.caro-dots {
    /* background: #000; */
    height: 40px;
}

.caro-img {
    width: 40%;
    border-radius: 10px;
    overflow: hidden;
    aspect-ratio: 1.6;
}

.caro-img img {
    height: 100%;
}

.caro-cont {
    width: 56%;
    /* background: yellow; */
    text-align: left;
}

.caro-cont-text {
    margin: 0
}

.caro-cont-text h1 {
    font-size: 32px;
    font-weight: 600;
}

.caro-cont-text p {
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-weight: 300;
}

.caro-cont-buttons {
    display: flex;
    align-items: center;
    gap: 1rem
}

@media (max-width:991px) {
    .caro-container {
        width: 90%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 auto 0 auto;
        /* background: green; */
        /* gap: 2rem; */
    }

    .caro-cont-text h1 {
        font-size: 28px;
        font-weight: 600;
    }

    .caro-cont-text p {
        font-family: Poppins, sans-serif;
        font-size: 12px;
        font-weight: 300;
        height: 100px;
        text-overflow: ellipsis;
        overflow-y: scroll;
        margin: 0 auto 12px auto;
    }

    .caro-img {
        width: 80%;
        border-radius: 10px;
        overflow: hidden;
        aspect-ratio: 1.6;
    }

    .caro-cont {
        width: 90%;
        /* background: yellow; */
        text-align: left;
        margin: 22px 0 0 0;
    }
}

@media (max-width:420px) {
    .caro-container {
        flex-direction: column;
    }

    .caro-cont-text h1 {
        font-size: 22px;
        font-weight: 600;
        text-align: center;
    }

    .caro-cont-text p {
        font-family: Poppins, sans-serif;
        font-size: 12px;
        font-weight: 300;
        text-align: center;
    }

    .caro-img {
        width: 100%;
        border-radius: 10px;
        overflow: hidden;
        aspect-ratio: 1.6;
    }

    .caro-cont {
        width: 90%;
        /* background: yellow; */
        text-align: left;
        margin: 22px 0 0 0;
    }

    .caro-cont-buttons {
        flex-direction: column;
    }

    .caro-cont-buttons button {
        flex-direction: column;
        width: 100%l
    }

}