.skills{
    /* height: 100vh; */
    width: 100%;
    scroll-snap-align: start;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll{
    height: 100vh;
    overflow-y: scroll;
    /* background: yellow; */
}

.scroll::-webkit-scrollbar{
    display: none;
}

.sks{
    width: 100%;
    padding: 5rem 0 0 0;
    height: 100%;
}

.about-me{
    margin: 0 0 5rem 0
}

.about-me h1{
    font-size: 50px;
    font-weight: 400;
}
.about-me hr{
    border-color: var(--accent-color);
    margin: 0 0 2rem 0;
}

.am-title-desc{
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin: 0 0 5rem 0;
    gap: 1rem;
}

.am-title{
    flex: 2;
    font-size: 28px;
    font-weight: 400;
}

.am-desc{
    flex: 3.8;
}

.each-timeline{
    border-bottom: 1px var(--accent-color) solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .8rem 0;
}

.each-timeline p:nth-child(1){
    font-size:16px;
    font-weight: 500;
}
.each-timeline p:nth-child(2){
    font-size:16px;
    font-weight: 300;
    font-style: italic;
    opacity : .5;
}
.each-timeline p:nth-child(3){
    font-size:16px;
    opacity: .5;
}

.am-role{
    flex : 2;
}

.am-coy{
    flex: 2;
}
.am-duration{
    flex: 2;
}


.each-skill {
    border-bottom: 1px var(--accent-color) solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.4rem 0;
    gap :10px;
}

@media (max-width:991px) {
    .about-me h1{
        font-size: 40px;
        font-weight: 400;
    }
    .each-timeline p{
        font-size:14px !important;
    }
    .am-desc{
        font-size: 14px;
    }
    .am-title{
        font-size: 20px;
    }
   
}

@media (max-width:650px) {
    .am-title-desc{
        flex-direction: column;
    }
    .am-desc{
        width: 90%;
        margin :auto
    }
     .about-me h1{
        font-size: 30px;
        font-weight: 400;
    }
    .each-timeline p{
        font-size:12px !important;
    }
    .am-desc{
        font-size: 12px;
    }
    .am-title{
        font-size: 16px;
        border-bottom: 2px var(--accent-color) solid;
    }
    .each-timeline{
        flex-direction: column;
        border: none;
        align-items: flex-start;
    }
    .each-timeline p:nth-child(1){
        border-bottom: 1px var(--accent-color) solid;
        padding: 0 0 4px 0;
        margin: 0 0 4px 0;
    }
   
}