*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

:root {
    --bg-color: #000212;
    --accent-color: #352a4f;
    --primary-color: #000212;
    --secondary-color: #fff;
    --text-color: #fff;
    --text-color-2: #fff;
    --overlay-color: rgb(12 12 12 / 63%);

}

.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    background: yellow;
}

@media (max-width: 994px){
    .container{
        background: orange;
        width: 96%;
    }
}